body { 
    background-color: #F0F0F0;
}

.mainDiv { 
        
        width: 20vw;
        height: 55vh;
        margin: 0 auto;
        
    background-color: #FFEEB0;
    border: 1px solid black;

   
   
}


.row1 {
    
}

  