body { 
    background-color: #F0F0F0;
}

.mainDiv { 
    display:flex;
    position:relative;
    top: 15vh;
    margin: 0 auto;
    width: 26vw;
    height: 70vh;
        

    
        
    background-color: #FFEEB0;
    border: 1px solid black;

   
   
}

#screen {
    background-color: #E5E2E2;
    position:fixed;
    padding: 8vh 13vw;
    
    
}


.row1 {
    display:flex;
    position:fixed;
    bottom:50%;
    flex-direction:row;
    width:26%;
    justify-content: space-around;
    flex-wrap:wrap;
    
   
    

 
    
}

button { 
    background-color: #C4C4C4;
    padding: 27px;
    cursor:pointer;
    
    

}

  