body { 
    background-color: #F1FAEE;
}

.mainDiv { 
    display:flex;
    position:relative;
    top: 15vh;
    margin: 0 auto;
    width: 26vw;
    height: 70vh; 
    background-color: #A8DADC;
    border: 1px solid black;
    border-radius: 10px;

   
   
}

#smallScreen { 
    background-color: #f1faee;
    /* padding: 6vh 12vw; */
   display:flex;
   justify-content: center;
   align-items: center;
    position:fixed;
    width:24%;
    height:13%;
    z-index: 1;
    border-radius: 10px;
    margin:0;

    
   

}

#screen {
    display:flex;
    background-color: #1D3557;
    position:fixed;
    padding: 8vh 13vw;
    justify-content: center;
    align-items:center;
    border-radius: 10px;

    
    
}

#clearRow { 
    display:flex;
    position:fixed;
    bottom:60%;
    flex-direction:row;
    width:26vw;
    justify-content: center;
}

#clearButton {
    padding:17px 21vh;
}


#row1 {
    display:flex;
    position:fixed;
    bottom:50%;
    flex-direction:row;
    width:26vw;
    justify-content: space-around;
    
    
}


#row2 { 
    display:flex;
    position:fixed;
    bottom:40%;
    flex-direction:row;
    width:26vw;
    justify-content: space-around;
}


#row3 { 
    display:flex;
    position:fixed;
    bottom:30%;
    flex-direction:row;
    width:26vw;
    justify-content: space-around;
}

#row4 { 
    display:flex;
    position:fixed;
    bottom:20%;
    flex-direction:row;
    width:26vw;
    justify-content: space-around;
}

button { 
    background-color: #F1FAEE;
    padding: 20px 30px;
    cursor:pointer;
    font-size: 15px;
    border-radius: 10px;
}

  